{% load static %}
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="{% url 'index' %}" class="navbar-brand">Currency Exchange <span style="color: rgb(39, 117, 161);"> <strong>App</strong> </span>   </a>
      <button class='button' style=""><a href="{% url 'language' 'UZ' %}">AMOUNT</a></button>
      <button class='button' style=""><a href="{% url 'currency'  'USD' %}">Parsed Data</a></button>
      <a href="../" class="navbar-tech">USEFULL LINK </a>
    </div>
  </div>
  
  <br><br><br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 id="devise" class="display-5">Devise </h1>
    <h5>Exchange Rate Converter</h5>
    <img src="{% static 'main_body/images/image.png' %}" class="image" style="width:100px; margin-bottom:-50px; " >
   
  </div>
  <div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-sm-15">
        <h1 style="align-content: center;"> </h1>
        <p class="lead" style="margin-left:280px; font-size:2rem">
      </p>
      </div>
    </div>
  </div>