{% extends 'base.html' %}
{% load static %}
    <style>
        {% block style %}
        .button {
          transition-duration: 0.4s;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          background-color: #fff;
          margin-right: 100px;
        }
        
        .button:hover {
          background-color: #4CAF50; 
        }
        .button a{
            text-decoration:none;
            color:black;
        }
        .button:hover a{
          text-decoration:none;
          color: white;
      }

        .main-container{
          margin-top: 60px;
          display:flex;
        }

        .rate{
          margin-top: 15px;
          width:120px;
          text-align: center;
          font-size: 8px;
        }
        {% endblock style %}

    </style>
  </head>
  <body style="overflow:hidden">
{% block main %}
<form method="post">
  {% csrf_token %}
  <div class="main-container">
    <div class="container">
      <div class="currency">
         <select class="form-control" id="currency-one" name="first">
        {% for currencies in currency %}
          <option value="{{currencies}}">{{currencies}}</option>
          {% endfor %}
        </select>
      <br>
        <input type="number" id="amount-one" name="amount1" value="1" style="width:100%" />
      </div>
  </div>
  <br>
    <div class="center-item">
      <div class="swap-btn">
        <button type="submit" id="swap" class="btn btn-outline-primary mx-auto d-block" >Swap <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
      <!-- Dynamic rate inserted in DOM based on exchange rate fetched from API -->
      <div class="rate" id="rate"></div>
    </div>
      <br>
      <div class="container">
        <div class="currency">
           <select class="form-control" id="currency-two" name="second">
            {% for currencies in currency %}
          <option value="{{currencies}}" {% if currencies == currencies %}selected="selected"{% endif %}>{{currencies}}</option>
          {% endfor %}
          </select>
        <br>
          <input type="text" id="amount-two" placeholder="0" name="amount2" value=" {{rate}} " style="width:100%" readonly />
        </div>
    </div>
  </div>
</form>
  <br><br><br>

  {% endblock main %}