{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main_body/css/exchange.css' %}">
{% endblock links %}
{% block main %}
    <form id="new_form" method="post">
        {% csrf_token %}
        <div class="main-container">
            <div class="container">
                <div class="currency">
                    <select class="form-control" id="first" name="first">
                        {% for currencies in currency %}
                            <option class="option-select" value="{{ currencies }}">{{ currencies }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="number" id="amount1" name="amount1" value="1" style="width:100%"/>
                </div>
            </div>
            <br>
            <div class="center-item">
                <div class="swap-btn">
                    <button type="button" id="swap" class="swap btn btn-outline-light mx-auto d-block">Swap <i
                            class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                <!-- Dynamic rate inserted in DOM based on exchange rate fetched from API -->
                <div class="rate" id="rate"></div>
            </div>
            <br>
            <div class="container">
                <div class="currency">
                    <select class="form-control option-select" id="second" name="second">
                        {% for currencies in currency %}
                            <option class="option-select" value="{{ currencies }}">{{ currencies }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="text" id="amount2" placeholder="0" name="amount2" value=" {{ rate }} "
                           style="width:100%" readonly/>
                </div>
            </div>
        </div>
    </form>
    <br><br><br>
{% endblock main %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#swap').click(function () {
                const first = document.querySelector('select#first').value;
                const second = document.querySelector('select#second').value;
                const val1 = document.querySelector('input#amount1').value;
                const val2 = document.querySelector('input#amount2').value;
                document.querySelector('select#first').value = second;
                document.querySelector('select#second').value = first;
                document.querySelector('input#amount1').value = parseFloat(val2);
                document.querySelector('input#amount2').value = parseFloat(val1);

            });
            document.querySelector('input#amount1').addEventListener('keyup', (e) => {
                const value = e.target.value;
                const result = document.querySelector('input#amount2');
                const first = document.querySelector('select#first').value;
                const second = document.querySelector('select#second').value;
                if (value.trim().length > 0) {
                    fetch("/json-converter/", {
                        body: JSON.stringify({
                            value: value,
                            first: first,
                            second: second
                        }),
                        method: "POST",
                    })
                        .then((req) => req.json())
                        .then((data) => {
                            console.log(data);
                            result.value = parseFloat(data['rate']);
                        })
                }
            })
        })
    </script>
{% endblock scripts %}