{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main_body/css/style.css' %}">
    <title>Document</title>
</head>
<body style="background-image: url('{% static 'main_body/images/body.jpg' %}');">
        <ul class='language' style="display: flex; list-style-type: None; margin-left: 39%;">
            <li><a href="{% url 'language' 'UZ' %}">UZ</a><span> | </span></li>
            <li><a href="{% url 'language' 'RU'%}">RU</a><span> | </span></li>
            <li><a href="{% url 'language' 'EN'%}">EN
            </a> <span>  | </span> </li>
            <li><a href="{% url 'language' 'UZC'%}">UZC</a></li>
        </ul>

    <ul class='currency' style="list-style-type: None;">
        {% for currency in currencies %}
        <li>
        <ul style="display: flex; list-style-type: None;">
            {% for valyuta in currency %}
            <li>
                <ul style="margin-top: 10px; display: flex; list-style-type: None;">
                    <table>
                        <tr>
                            <th>Country Code</th>
                            <th>Currency</th>
                            <th>Number Code</th>
                            <th>Currency Rate</th>
                            <th>Currency Country</th>
                        </tr>
                        <tr>
                            <td>
                                <li style="margin-left:5px;">
                                {{valyuta.code}}
                                </li>
                            </td>
                            <td style="margin-left:20px;">
                                <li style="margin-left:20px;">
                                {{valyuta.Currency}}
                                </li>
                            </td>
                            <td style="margin-left:20px;">
                                <li style="margin-left:20px;">
                                {{valyuta.pn}}
                                </li>
                            </td>
                            <td style="margin-left:20px;">
                                <li style="margin-left:20px;">
                                {{valyuta.Rate}}
                                </li>
                            </td>
                            <td style="margin-left:20px;">
                                <li style="margin-left:20px;">
                                {{valyuta.country}}
                                </li>
                            </td>
                        </tr>
                       
                    </table>
                   
                </ul>
            </li>
            {% endfor %}
        </ul>
        </li>
        {%endfor%}
    </ul>
</body>
</html>