table, th, td {
    font-family: Poppins;
    border-collapse: collapse;
  }




.language{
    margin-left: 5%;
}

.language li{
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    margin-left: 2px;

}

body{
    background-color: #f2f2f6;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.language li a{
    text-decoration: none;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.language li a:active {
    color: black
}


.currency {
    text-align: center;
}

td{
    margin-left: 50px;
}

